body {
    margin: 0px;
    padding: 15px;
    text-align: center;
}

h1 {
    font-family: 'Oleo Script', cursive;
}

ul {
<<<<<<< HEAD
	margin:0;
    padding:0;
    list-style:none;
}

li {
	
}
span{
    width:100px;
    display:inline-block;
}
=======
	list-style: none;

}

li {
	float: left;
}

>>>>>>> 391d3f3695a83b60be275657b1bc7f5384dc3381
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 
.clearfix {
    display: inline-block;
}
 
html[xmlns] .clearfix {
    display: block;
}
 
* html .clearfix {
    height: 1%;
}